[package]
name = "test-rust"
authors = ["Gordon Smith <GordonJSmith@gmail.com>"]
description = ""
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = "1"
spin-sdk = "5.2.0"

[workspace]
