name: "Spin-CI"

on:
  push:
    branches:
      - "main"

env:
  NODE_VERSION: "22"
  SPIN_VERSION: ""

jobs:

  spin:
    runs-on: "ubuntu-latest"
    name: Build Spin App
    steps:

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install os dependencies
        run: |
          wget https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-24/wasi-sdk-24.0-x86_64-linux.deb
          sudo dpkg -i wasi-sdk-24.0-x86_64-linux.deb
          rm wasi-sdk-24.0-x86_64-linux.deb
          rustup target add wasm32-wasip1
          cargo install wit-bindgen-cli

      - name: Install vcpkg dependencies
        run: |
          ./vcpkg/bootstrap-vcpkg.sh
          ./vcpkg/vcpkg install

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ env.NODE_VERSION }}"

      - name: Install Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          plugins: |
            js2wasm

      - name: Component Dependency Installation
        run: npm ci
        working-directory: .

      - name: Build vitepress
        working-directory: .
        run: |
          spin build

      - name: Install spin aka plugin
        run: spin plugin install cloud --yes

      - name: Deploy
        uses: fermyon/actions/spin/deploy@v1
        with:
          fermyon_token: ${{ secrets.FERMYON_CLOUD }}

      - name: Install spin aka plugin
        run: spin plugin install aka --yes

      - name: Login to Fermyon Wasm Functions
        run: spin aka login --token ${{ secrets.SPIN_AKA_ACCESS_TOKEN }}

      - name: Deploy to Fermyon Wasm Functions
        run: spin aka deploy --no-confirm
