name: "Spin-CI"

on:
  push:
    branches:
      - "main"

env:
  NODE_VERSION: "22"
  SPIN_VERSION: ""

jobs:

  spin:
    runs-on: "ubuntu-latest"
    name: Build Spin App
    steps:

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install rust dependencies
        run: |
          rustup target add wasm32-wasip1
          cargo install wit-bindgen-cli

      - name: Install vcpkg dependencies
        run: |
          ./vcpkg/bootstrap-vcpkg.sh
          ./vcpkg/vcpkg install

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ env.NODE_VERSION }}"

      - name: Install Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          plugins: |
            js2wasm

      - name: Component Dependency Installation
        run: |
          npm ci

      - name: Build vitepress
        run: |
          spin build

      - name: Install spin cloud plugin
        run: |
          spin plugin install cloud --yes

      - name: Deploy to Fermyon Cloud
        run: |
          spin cloud login --token ${{ secrets.FERMYON_CLOUD }}
          spin cloud deploy -f spin.toml

      - name: Install spin aka plugin
        run: |
          spin plugin install aka --yes

      - name: Deploy to Fermyon Wasm Functions
        run: |
          spin aka login --token ${{ secrets.SPIN_AKA_ACCESS_TOKEN }}
          spin aka deploy --no-confirm
